.navbar{
    height: 80px;

    .wrapper{
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .item{
            align-items: center;
            display: flex;
            font-size: 18px;
        }

        .left{
            display: flex;
            align-items: center;
            gap: 25px;
            font-size: 18px;
        }
        .center{
            font-size: 30px;
            transform: uppercase;
            
        }

        .right{
            display: flex;
            align-items: center;
            gap: 25px;
            font-size: 18px;

            .icons {
                display: flex;
                gap: 15px;
                color: #777;
                cursor: s;

                .cartIcons{
                    position: relative;
                    span{
                        font-size: 12px;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: #2879fe;
                        color: #fff;
                        position: absolute;
                        right: -10px;
                        top: -10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                    }
                }
            }
        }
    }
}